@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  position: relative;
  font-size: 16px;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background-color: white;
  border-radius: 20px;
  /* ho have radius top image part as well */
  overflow: hidden;
}

.center-part {
  padding: 7%;
  text-align: center;
}
.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 17px;
}
.center-part p.subtitle {
  color: rgba(113, 127, 166, 1);
  margin-bottom: 20px;
}
.middle-box {
  background-color: rgba(247, 249, 255, 1);
  border-radius: 11px;
  display: flex;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-items: center;

  text-align: left;
}
.left-side div {
  margin-left: 24px;
}
.left-side div h5 {
  font-weight: 900;
  font-size: 16px;
  color: hsl(223, 47%, 23%);
}
.left-side div p {
  font-weight: 900;
  font-size: 16px;
  color: rgba(113, 127, 166, 1);
}
.middle-box a {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
a.proceed {
  display: block;
  /* to remove line */
  text-decoration: none;
  color: white;
  background-color: hsl(245, 75%, 52%);
  padding: 25px 0;
  border-radius: 11px;
  margin: 32px 0;
}
a.cancel {
  color: rgba(113, 127, 166, 1);
  text-decoration: none;
  font-weight: 500;
}
